[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
    ignore = dirty
[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
